.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 65rem;
  margin-inline: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

main {
  margin-top: 2rem;
}

main form {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

form input {
  padding: 0.25rem 0.5rem;
}

h1 {
  text-align: center;
}
